.Table-All-Data {
  margin-left: 400px;
  margin-top: 150px;
  border-collapse: collapse;
  border: 1px solid white;
  width: 60%; /* Adjust the width as needed */
}

.table-heading th {
  padding: 18px;
  text-align: left;
  border: 0.2px solid white;
  border-color: white;
}

.Table-All-Data td,
.Table-All-Data th {
  border: 0.2px solid white;
  border-color: blue;
  padding: 18px;
  text-align: center;
  width: 600px;
  color: aqua;
  color: aqua;
  text-shadow: 1px 1px 2px black, 0 0 25px aqua, 0 0 5px darkblue;
}
  
